body {
  background: linear-gradient(90deg, #fbba00, #ff8714);
  color: #fff;
}
.container {
  margin: 1rem auto;
  padding: 1rem;
  width: 90vw;
  max-width: 35rem;
}
.backG {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.form-input {
  display: flex;
  justify-content: center;
}
.text-input {
  font-size: 1.2rem;
  padding: 0.5rem;
  flex: 1 1 auto;
  color: white;
  background-color: rgba(255, 255, 255, 0.097);
  border: 2px solid rgba(255, 255, 255, 0.125);
}
.text-input:focus {
  outline: none;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.288);
}

.button-submit {
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.125);
  background-color: #2ea44f;
  color: #fff;
}

.done{
  text-decoration: line-through;
}